th {

    width: 9.5%;

    display: inline-grid;

    color: #ff66d9;

    font-size: 17px;

    font-family: Calibri;

    word-spacing: 1px;

}





.btn-light {

    color: #ffffff;

}

.card-discription {

    position: relative;

    z-index: 10;

    margin: 0;

    font-size: 13px;

}



.viewme-main-card {

    margin: auto;

}



.viewme-sing {

    text-align: center;

    padding-top: 15px;

}



.viewme-sing h3 {

    font-size: 15px;

}



.cards-name {

    margin: 0;

}



.container-card {

    position: relative;

    width: 120px;

    height: 120px;

    border: 1px solid #ff66d9;

    padding: 5px;

    box-sizing: border-box;

    background-color: #ff66d9;

    display: inline-grid;

    line-height: 0;

}



.container-card:after {

    position: absolute;

    width: 37px;

    height: 25px;

    align-content: center;

    border-top: 0px solid #ff66d9;

    border-right: 2px solid #ff66d9;

    border-bottom: 2px solid #ff66d9;

    border-left: 0px solid #ff66d9;

    top: 100%;

    left: 50%;

    margin-left: -25px;

    content: '';

    transform: rotate(45deg);

    margin-top: -25px;

    background: #ff66d9;

}



.nav-navbar ul {

    padding: 0;

    margin: 0;

}



.nav-navbar ul li {

    list-style: none;

    padding-left: 30px;

}



.nav-navbar ul li:nth-child(1) {

    padding-left: 0;

}



.nav-navbar ul li a {

    color: #ff66d9;

    font-weight: bold;

}



.viewme-sing>h3 {

    color: gray;

    font-weight: bold;

    font-size: 18px;

}



.viewme-gray-footer {

    background: rgb(130, 124, 124);

    height: 40px;

}



div {

    color: white;

    text-align: center;

    font-family: sans-serif;

}



.viewMe-cards {

    margin: 10px;

}



.pink-line>h1 {

    background-color: #ff66d9;

    font-size: 30px;

    font-family: Calibri;

    align-items: flex-end;

    word-spacing: 10px;

    color: white;

    text-align: center;

}


.line-browse h2 {

    text-align: center;

    font-family: Calibri;

    padding: 0px;

    color: #8c8c8c;

    font-weight: normal;

    font-size: 22px;

}

.img-BD {

    position: relative;

    display: inline-grid;

    max-width: 92%;

    padding-left: 100px;

    margin: 11px;

    border: 10px;



}

.samplecards {

    position: relative;

    padding: 5%;

    width: 100%;

    float: left;

    display: inline-grid;



}



/* h3 {

    color: grey;

    text-align: center;

    font-family: sans-serif;

    display: inline-grid;

    width: 20%;

} */



/* h4 {

    color: grey;

    text-align: center;

    font-family: sans-serif;

    display: inline-grid;

    width: 10%;

    background-color: grey;

} */



.cards-name {

    /* font-size: 5vw; */

}
.parentClass {
    position: relative;
    width: 50%;
    margin-top: 10%;
    left: 10%;
    max-width: 500px;
}

.parentClass img {
    width: 50%;
    height: auto;
}

.parentClass .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ff66d9;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 5px grey;
}

.parentClass .btn:hover {
    background-color: #FFC1E1;
}

.nav li a {
    color: black;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
}


/* Style the submit button */

form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #F7F7F7;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}


/* Clear floats */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.myNav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.myNav_li {
    float: left;
}

.myNav_li a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #FE69B4;
    text-align: center;
    padding: 14px 16px;
    margin-right: 20px;
    text-decoration: none;
}

.fa1 {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa1:hover {
    opacity: 0.7;
}

.myhoverclass {
    background: url("PC.png") no-repeat;
    width: 100%;
    height: 300px;
    background-size: 50%;
}

.myhoverclass:hover {
    background: url("PC_hover.png") no-repeat;
    width: 150%;
    height: 300px;
    background-size: 60%;
}

.hoverimg {
    background: url("celeb.png") no-repeat;
    width: 100%;
    height: 300px;
    background-size: 50%;
}

.hoverimg:hover {
    background: url("celeb_hover.png") no-repeat;
    width: 150%;
    height: 300px;
    background-size: 60%;
}

.hoverclass {
    background: url("f_cards.png") no-repeat;
    width: 100%;
    height: 300px;
    background-size: 50%;
}

.hoverclass:hover {
    background: url("f_hover.png") no-repeat;
    width: 150%;
    height: 300px;
    background-size: 60%;
}

.myclass {
    background: url("v_over.png") no-repeat;
    /* padding-top: 500px; */
    width: 100%;
    height: 300px;
    background-size: 50%;
}

.myclass:hover {
    background: url("v_hover.png") no-repeat;
    width: 150%;
    height: 300px;
    background-size: 60%;
}

.myproductrow {
    margin-top: 20px;
}

.web-bg{

    background: url("bg-1.png");
    background-size: 100%;
    padding-bottom: 25px;
    margin-bottom: 10px;
}


a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}


.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}

.btn-instagram
{
    background-color: #3f729b;
}
.btn-instagram:hover
{
    background-color: #548cb9;
}

.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}

.btn-youtube
{
    background-color: #e52d27;
}
.btn-youtube:hover
{
    background-color: #ea5955;
}


#font-awesome {
    color: #fff;
    font-size: 2.5em;
}

a {
    color: black;
}

#country{
    color:#f06e9c;
    font-weight: bold;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons > li {
    display: inline-block;
}

.social-icons > li > a {
    background: #f5f5f5;
    display: block;
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    height: 32px;
    width: 32px;
    color: #777777;
}

.social-icons > li > a:hover,
.social-icons > li > a:focus {
    background: #27CBC0;
    color: #ffffff;
}

/* --- [ Social Icons Size ] --- */

.social-icons-lg > li > a {
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    width: 48px;
}

.social-icons-md > li > a {
    line-height: 40px;
    height: 40px;
    width: 40px;
}

/* --- [ Social Icons Mode ] --- */

.social-icons-round > li > a {
    border-radius: 2px;
}

.social-icons-circle > li > a {
    border-radius: 100%;
}

/* --- [ Social Icons Colored ] --- */

.social-icons-colored > li > a {
    color: #ffffff;
}

.social-icons-colored > li > a:hover,
.social-icons-colored > li > a:focus {
    opacity: 0.85;
}

/* --- [ Social Icons Simple ] --- */

.social-icons-simple > li > a {
    display: inline;
    background: none;
    margin: 0 10px 10px 0;
}

.social-icons-simple > li > a:hover,
.social-icons-simple > li > a:focus {
    background: none;
    color: inherit;
}

/* --- [ Backgrounds ] --- */

.bg-white {
    background-color: #ffffff !important;
}

.bg-white-dark {
    background-color: #f8f8f8 !important;
}

.bg-white-darken {
    background-color: #f5f5f5 !important;
}

.bg-gray {
    background-color: #777777 !important;
}

.bg-gray-light {
    background-color: #999999 !important;
}

.bg-gray-lighter {
    background-color: #eeeeee !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-black-light {
    background-color: #222222 !important;
}

.bg-black-lighter {
    background-color: #333333 !important;
}

.bg-brand {
    background-color: #27CBC0 !important;
}

.bg-brand-hvr {
    background-color: #1fa098 !important;
}

.bg-facebook {
    background-color: #3b5998 !important;
}

.bg-twitter {
    background-color: #00aced !important;
}

.bg-google {
    background-color: #dd4b39 !important;
}


.bg-youtube {
    background-color: #bb0000 !important;
}

.bg-instagram {
background: #d6249f !important;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
    
}


